.footergogo {
    display: flex;
    flex-direction: column;
    min-height: 23vh;
<<<<<<< HEAD

=======
>>>>>>> e08fa5099079d31666caf44b449aff436bd56dbe
}

.footergogo1 {
    margin-top: auto;
}

.footerBtn {
    color: white;
}

.footerBtn:hover {
    background: none;
    color: #885BA6;
}

.CopyRightMod {
    color: white;
}

.CopyRightMod:hover {
    background: none;
    color: #885BA6;
}